html
    background-color: #d7dfe4
    height: 100%
    width: 100%

.App .root
    height: 100%
    width: 100%
    text-align: center
    font-family: 'Roboto'

p
    margin: 3px 0 3px 0
    font-size: 14px
    font-weight: lighter

h4
    margin: 5px 0 5px 0
    font-size: 18px
    font-weight: lighter

h3
    margin: 5px 0 5px 0
    text-align: center
    font-size: 18px
    font-weight: lighter

h1
    margin: unset
    font-weight: lighter
    text-align: center
    font-size: 45px
    letter-spacing: 1px

